<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>column-count</title>
</head>
<style>
  .wrap {
    column-count: 8;
  }
  .label {
    width: 100px;
  }
  .count{
    display: flex;
  }
  .count-1, .count-2{
    flex: 1;
    overflow-wrap: break-word;
  }
</style>

<body>
  <div class="wrap">
    <div class="count">
      <div class="label">标题1</div>
      <div class="count-1">iammonkey</div>
    </div>
    <div class="count">
      <div class="label">标题2</div>
      <div class="count-2">据测试数据测试数据测试数据</div>
    </div>
    <div class="count">
      <div class="label">标题3</div>
      <div class="count-1">据测试数据测试数据测试数据</div>
    </div>
    <div class="count">
      <div class="label">标题4</div>
      <div class="count-2">据测试数据测试数据测试数据</div>
    </div>
    <div class="count">
      <div class="label">标题5</div>
      <div class="count-1">据测试数据测试数据测试数据</div>
    </div>
    <div class="count">
      <div class="label">标题6</div>
      <div class="count-2">据测试数据测试数据测试数据</div>
    </div>
    <div class="count">
      <div class="label">标题7</div>
      <div class="count-1">据测试数据测试数据测试数据</div>
    </div>
    <div class="count">
      <div class="label">标题8</div>
      <div class="count-2">据测试数据测试数据测试数据</div>
    </div>
  </div>
</body>

</html>