<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style type="text/css">
    table {
      width: 100%;
      border-collapse: collapse;
    }

    td {
      overflow-x: scroll;
      width: 12.5%;
      height: 20px;
      border: 1px solid red;
    }
  </style>
</head>

<body>
  <table>
    <td><div style="width: 100%">
      <div>111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111</div>
    </div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </table>
</body>

</html>